<!DOCTYPE HTML>
<html>
    <head>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- for sorting -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <title>Assignment Stacker Quick View</title>
        <link id="BasicHome" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/AddLocation.css') }}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link id="BasicHome" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/BasicHome.css') }}" />
        <script src="{{ url_for('static',filename='Scripts/JSONGetsAndSets.js') }}"></script>
        <script src="{{ url_for('static',filename='Scripts/ImportScripts.js') }}"></script>
        <script src="{{ url_for('static',filename='Scripts/scripts.js') }}"></script>

    </head>

    <body class="background">
        <div class="content">

            <!-- Navigation Bar -->
            <div class=Mynavbar>
                <button class="button" onclick="location.href='Home.html'">Home </button>
                <button class="button" onclick="location.href='Quick_View.html'"> Quick View</button>
                <button class="button" onclick="location.href='AddLocation.html'"> View and Add Assignment locations</button> 
                <select class="priorityButton" aria-label="Priority select table" id="SortSelect" disabled>
                    <option value="DueDate" selected>Sort Disabled</option>
                    <option value="Priority">Priority</option>
                    <option value="StartDate" >Assigned Date</option>
                    <option value="TimePast" >Time Expired</option>
                    <option value="5" disabled>Something else</option>
                </select>
                
            </div>

        
            <div id="Locations" class="LocSpace"><!-- will display all existing connection here to remove-->

            </div>

            <div id="ImportCreater" class="ImportCreater">
                <div id="SourceGroup" class="TypeOutside"> 
                    <Label for="Source">Location Type:</Label>
                    <select class="" aria-label="Priority select table" id="Source" onchange="CT(this.options[this.selectedIndex].value)">
                        <option value="none" selected>Location</option>
                        <option value="Canvas">Canvas</option>
                        <option value="Google">Class Room</option>
                    </select>
                </div>

                <!--Div that collapses-->
                <div class="collapse collapseImport" id="ImportInfo">
                    <div class="CreateInfo clearfix" id="CollapseCont">
                        
                    </div>
                    <div id="SelectLocation" class="clearfix">

                    </div>
                </div>
            </div>
        </div>
    

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>

</html>



<template id="CanvasInfoTemp">
    <div class="CenterElement clearfix" id="CanvasInfo">
        <!-- <label for="CanvasConnect" class="TextfieldLeftLabel">Enter "" Info here:</label>
        <input type="text" id="CanvasConnect" id="canvasConnectionInfo">
        <button class="importbutton" onclick="ImportAPICanvas()">Start Import</button>  -->
        <!-- <form> -->
            <label for="CanvasConnect" class="TextfieldLeftLabel">Enter "" Info here:</label>
            <input type="text" id="CanvasConnect" name="CanvasConnect" placeholder="Ex. 'User Token'">
            <!-- <input type="text" id="InputClassName" placeholder="Ex. 'User Token'">  -->
            <button class="importbutton" onclick="ImportAPICanvas()">Start Import</button>
        <!-- </form> -->
    </div>
</template>





<template id="ClassRoomTemp">
    <div class="CenterElement clearfix" id="CanvasInfo">
        <label for="importbutton" class="TextfieldLeftLabel">Start Import from Google Classroom </label>
        <button class="importbutton" onclick="ImportAPIGoogle()">Start Import</button>
    </div>
</template>

<template id="PlaceLocTemp">
    <div class="OptionAddassignments" id="loc">
        <label id="locText" for="NewLoc">
            Place Contents from"" into:
        </label>
        <select aria-label="Priority select table" id="NewLoc">
            <option value="New" selected>Create New</option>
            <option value="None" selected>Don't Add</option>
            
        </select>
    </div>
</template>

<template id="currentAPITemp">
    
</template>