<!DOCTYPE HTML>
<html>

	<head>
		
		<title>Assignment Stacker Home</title>
		
		<!--css Loads-->
		<link id="BasicHome" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/BasicHome.css') }}" />
		<link id="Assignment" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/Assignment.css') }}" />
		<link id="Class" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/Class.css') }}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- for sorting -->

		<!--Script loading-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="{{ url_for('static',filename='Scripts/HTMLColor.js') }}"></script>
		<script src="{{ url_for('static',filename='Scripts/AssignmentCreatingScripts.js') }}"></script>
		<script src="{{ url_for('static',filename='Scripts/SortScript.js') }}"></script>
		<script src="{{ url_for('static',filename='Scripts/JSONGetsAndSets.js') }}"></script>
		<script src="{{ url_for('static',filename='Scripts/scripts.js') }}"></script>
		<script src="{{ url_for('static',filename='Scripts/QuickViewScript.js') }}"></script> <!--DO not use any of these they are simply here for other functions that are shared-->
		
		
		


		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"></script>
	</head>

	<body class=background>

		<div class="content">

			<!-- Navigation Bar -->
			<div class=Mynavbar>
				<div class="navcontainer">
					<button class="button pushedButton" onclick="location.href='Home.html'">Home </button>
					<button class="button" onclick="location.href='Quick_View.html'">Quick View</button>
					<button class="button" onclick="location.href='AddLocation.html'">View and Add Assignment locations</button>
					<select class="priorityButton" aria-label="Priority select table" id="SortSelect" onchange="sortButton(this.options[this.selectedIndex].value)">
						<option value="DueDate" selected>Due Date</option>
						<option value="Priority">Priority</option>
						<option value="StartDate" >Assigned Date</option>
						<option value="TimePast" >Time Expired</option>
					</select>
					<button class="button" onclick="LogoutUser()">Logout</button>
				</div>
			</div>

			<!-- Put all new classes made in here -->
			<div class="Classes" id="classList">
				<p>
					No Assignments and classes here at the moment :)
				</p>
			</div>
			<!-- Add Class Button **This section was copy pasted in** -->
			<button class="AddClassSection" type="button" data-bs-toggle="collapse" data-bs-target="#CollapseAddClass"
				aria-expanded="false" aria-controls="CollapseCourse">
				<div class="AddClass">
					Add Class
				</div>
			</button>

			<div class="collapse" id="CollapseAddClass">
				<div class="ClassAssignmentsOutline">
					<div class="NewClassName">
						<form>
							Enter Class Name: <input type="text" id="InputClassName" placeholder="Ex. 'CSCE 315'">
							<button class="SubmitButton" type="button" value="" onclick="AddClass()">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<!-- Add Class Button End-->

			<!-- Remove Class Button Start-->
			<button class="AddClassSection" type="button" data-bs-toggle="collapse" data-bs-target="#CollapseRemoveClass"
				aria-expanded="false" aria-controls="CollapseCourse">
				<div class="AddClass">
					Remove Class
				</div>
			</button>

			<div class="collapse" id="CollapseRemoveClass">
				<div class="ClassAssignmentsOutline">
					<div class="NewClassName">
						<form>
							Enter Class Name: <input type="text" id="RemoveClassName" placeholder="Ex. 'CSCE 315'">
							<button class="SubmitButton" type="button" value="" onclick="removeClass()">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<!-- Remove Class Button End-->
		</div>



		<!--reference for creating new unique class-->
		<template id="NewAssignmentTemp">
			<!-- used for adding new assignments-->

			<div id="Assignment" class="Assignment" data-due="05/20 03:25" data-timeleft="2" data-priority="1"> <!-- Data here is not currently used and can be redefined-->
				<button class="AssignmentOverview" type="button" data-bs-toggle="collapse" data-bs-target="#Collapse"
					aria-expanded="false" aria-controls="CollapseCourse" id="Overview">
					<!-- Will need unique target in future-->
					<div class="AssignmentPriority" id="PriorityField">
						Priority: 1
					</div>
					<div class="AssignmentName" id="AssignmentNameField">
						!!!!error occured!!!
					</div>
					<!--start date-->
					<div class="AssignmentDuedate AssignmentStartDate" id="StartDate">
						<!-- has two classes for identification Will need unique id-->
						<label for="Start_">Start date:</label> 
						<!-- <input id="Start_" type="datetime-local" value="2022-04-03T19:59" aria-readonly="true"> -->
						<div id="Start_" > 
							start Date here
						</div>
					</div>

					<!--Progress bar item-->
					<div class="progress justify-content-end" id="progressbarCont"
						style="width: 25%; float: left; margin-top: 15px">
						<div class="progress-bar" role="progressbar" id="ProgressBar" style="width: 50%" aria-valuenow="25"
							aria-valuemin="100" aria-valuemax="0">
							<div id="TimeLeftBarText">
								2 days
							</div>
						</div>
					</div>
					<!--end date-->
					<div class="AssignmentDuedate" id="EndDate">
						<!-- Will need unique id -->
						<label for="Due_">Due date:</label> 
						<div id="Due_" > 
							Due Date here
						</div>
					</div>

				</button>

				<div class="collapse" id="Collapse">
					<!-- Will need unique id in future-->
					<div class="AssignmentOutline clearfix" id="OutsideForSizeFix">
						<!-- This div is needed to make the outside expand correctly-->
						<div class="AssignmentInfo" id="AssignmentInfo">
							<div class="leftside" id="LeftDivs">
								<div class="AssignmentLink" id="AssignmentWarper">
									<p>
										Assignment Link:
									<div class="genericWrittingBox" contenteditable="true" id="AssignmentLink" onblur="">
										<!-- Will need unique id in future-->
									</div>

									</p>

								</div>
								<div class="AssignmentRelatedLinks" id="RelatedlinkWrapper" onblur="">
									<p>
										Related Links:
									<div class="genericWrittingBox" contenteditable="true" id="RelatedLinks">
										<!-- needs unique id-->

									</div>
									</p>

								</div>
							</div>
							<div class="rightside" id="RightDivs">
								<div class="AssignmentDetails" id="AssigmentDetailWrapper">
									<p>
										Details:
									<div class="genericWrittingBox" contenteditable="true" id="Details" onblur="updateDiscription()">
										<!-- Will need unique id in future-->
										
									</div>
									</p>
								</div>
								<div class="AssignmentStatus" id="CheckBoxWrapper">
									<input type="checkbox" class="btn-check" id="CheckBoxComplete" autocomplete="off"
										onclick="completeButton('Overview', 'CheckBoxComplete')">
									<!-- Will need unique ids in future-->
									<label class="btn btn-outline-success" for="CheckBoxComplete">Complete</label><br>
								</div>
								<div class="AssignmentDetails" id="priorWrapper">
									<p style="font-size: 20px;">
										Edit: <span style="font-size: 15px; color: red;">[Editing fields in this area may result in the content of the page to reload]</span>
									</p>
									<div id="SpacerRename" class="editingSpacers">
										<label for="Rename" class="labelspace">
											Rename Name:
										</label>
										<input class="genericWrittingBox" contenteditable="true" id="Rename" value="">
									</div>

									<Label for="PriorityChange" class="labelspace">Priority:</Label>
									<select class="PriorityPicker editingSpacers priorEdit" aria-label="Priority select table" id="PriorityChange" onchange="">
										<option value="1" selected>1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>

									<div id="Spacerstart" class="editingSpacers">
										<label for="EditStart" class="labelspace">Start date:</label> <input id="EditStart" class="dateEditor" type="datetime-local" value="2022-04-03T19:59" onchange="">
									</div>
									<div id="SpacerEnd" class="editingSpacers">
										<label for="EditDue" class="labelspace"><p>Due date:</p></label> <input id="EditDue" class="dateEditor" type="datetime-local" value="2022-04-09T19:59" onchange="">
									</div>									

									
									
									<div class="AssignmentRemoval" id="AssignmentRemove">
										<button class="AssignmentButton" id="removeButton" onclick="removeAssignment('className', 'assignmentName')">Force Remove</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</template>
		<button class="button" type="button" value="" onclick="clearPage()">Clear</button>
		
		<script>
				//this function will call everytime home loads to populate localstorage
			window.onload = function(){
				console.log("BEFORE: \n");
				console.log(localStorage);
				var DBclassList;
				$.ajax({
					url:"/bgLoadUserClasses",
					type: "GET",
					contentType: "application/json",
					success: function (response){
						DBclassList = JSON.parse(response);
						console.log(DBclassList);
						loadPage(DBclassList);
					}
				});
			}

			function loadPage(DBclassList){
				DBclassList.forEach(newClassObj => {
					var jsonObj = JSON.stringify(newClassObj);
    				localStorage.setItem(newClassObj.name, jsonObj);
                });
				console.log(localStorage);
				populatePage();
			}


			//this function will remove temp objects when leaving page
			//and push current classList into database
			window.onbeforeunload = function(){
				//gets all classObjs
				classList = getClassList(classList);
				//console.log(classList);
				jsonObj = JSON.stringify(classList);
				$.ajax({
					url:"/bgUpdateUserClasses",
					type: "POST",
					contentType: "application/json",
					data: jsonObj,
					dataType: 'json',
					success: function (response){
						console.log("Success");
					}
				});
				localStorage.clear();
			}
		</script>

	</body>
</html>
